
<div class="max-w-xl mx-auto p-8 rounded-xl shadow-xl mt-6">
  <div class="h-[200px] bg-gray-100 overflow-hidden mb-6 rounded-lg">
    <img
      src="https://external-preview.redd.it/4AOhcYePo0UE5feuJESadp_02rEwvdFaAHcFxLJFwEU.gif?format=png8&s=7f8bbd73739b4f65b1971b0befd84cbb999609a5"
      class="bg-gray-100 object-cover rounded-lg"
    />
  </div>
  <h1 class="font-black text-3xl mb-2">Subscribe for more dad jokes!</h1>
  <p class="text-lg text-gray-700 mb-3">
    You'll get exclusive dad jokes straight to your inbox, monthly dad joke merch, and access
    to our private dad joke community!
  </p>
  <div class="grid grid-cols-2 gap-6">
    <%# <% if user_signed_in? && !current_user.subscribed? %> 
    <% if user_signed_in? %>
      <%= form_tag purchase_checkouts_path, method: :post, data: { turbo: false } do %>
        <input type="hidden" name="price_id" value="<%= Rails.application.credentials.dig(:stripe, :pricing, :monthly)%>" />
        <input type="submit" value="Subscribe for $9/mo" class="px-3 py-4 bg-teal-600 hover:bg-teal-700 block no-underline w-full text-center rounded font-bold text-white shadow-sm cursor-pointer" />
      <% end %>
      <%= form_tag purchase_checkouts_path, method: :post, data: { turbo: false } do %>
        <input type="hidden" name="price_id" value="<%= Rails.application.credentials.dig(:stripe, :pricing, :yearly)%>" />
        <input type="submit" value="Subscribe for $90/yr" class="px-3 py-4 bg-indigo-600 hover:bg-indigo-700 block no-underline w-full text-center rounded font-bold text-white shadow-sm cursor-pointer" />
      <% end %>
    <% elsif user_signed_in? && current_user.subscribed? %>
      <div class="bg-yellow-100 p-6 rounded-lg text-center text-yellow-900 col-span-2">
        <p>You are already subscribed.</p>
        <%= button_to "Manage your subscription", billings_path, data: { turbo: false }, class: "underline" %>
      </div>
    <% else %>
      <%= link_to "Subscribe for $10/mo", new_user_session_path, class:"px-3 py-4 bg-teal-600 hover:bg-teal-700 block no-underline w-full text-center rounded font-bold text-white shadow-sm cursor-pointer" %>
      <%= link_to "Subscribe for $100/yr", new_user_session_path, class:"px-3 py-4 bg-indigo-600 hover:bg-indigo-700 block no-underline w-full text-center rounded font-bold text-white shadow-sm cursor-pointer" %>
    <% end %>
  </div>
</div>
